body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.background {
    background-image: url('pictures/facultad-ingenieria-ubajpg.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cyan;
}

.container {
    background-color: rgba(37, 37, 37, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 120px;
    height: auto;
}

.login-container {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.form-control {
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-control:focus {
    box-shadow: 0 0 10px cyan;
    outline: none;
}

.form-check-label {
    color: white;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: white;
}
.btn btn-primary w-100 {
    background-color: cyan;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
