<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Película</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div id="movie-details">
            <!-- Aquí se insertarán los detalles de la película mediante JavaScript -->
        </div>
    </div>
    <script>
        function obtenerPelicula(id) {
            fetch(`/peliculas/${id}`)
                .then(response => response.json())
                .then(data => {
                    const pelicula = data[0];
                    const movieDetails = document.getElementById('movie-details');
                    movieDetails.innerHTML = `
                        <h2>${pelicula.titulo}</h2>
                        <p><strong>Descripción:</strong> ${pelicula.descripcion}</p>
                        <p><strong>Duración:</strong> ${pelicula.duracion} minutos</p>
                        <p><strong>Año de creación:</strong> ${pelicula.año_creacion}</p>
                        <p><strong>Saga:</strong> ${pelicula.saga}</p>
                        <p><strong>Link al trailer:</strong> <a href="${pelicula.link_trailer}" target="_blank">Ver trailer</a></p>
                        <p><strong>Link a la imagen:</strong> <a href="${pelicula.link_imagen}" target="_blank">Ver imagen</a></p>
                    `;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
